# The source chain is the chain that the light client will sync from.
NORI_SOURCE_CONSENSUS_HTTP_RPCS=
NORI_SOURCE_CHAIN_ID=1
NORI_SOURCE_EXECUTION_HTTP_RPCS=

# Source contract address.
NORI_TOKEN_BRIDGE_ADDRESS=

# Set to mock for testing, or network to generate proofs on the Succinct Prover Network.
SP1_PROVER=mock

# SP1 Network prover (if using SP1_PROVER=network)
NETWORK_PRIVATE_KEY=
NETWORK_RPC_URL=

# Helios polling interval for new slots
NORI_HELIOS_POLLING_INTERVAL=

# Rust logging level
NORI_LOG=info
